html body {
  margin:0;
  height: 100%
}

.grid {
    display: grid;
    grid-template-columns: 1fr 300px 700px 1fr;
    grid-template-rows: 6fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". banner banner ."
    ". sidebar con ."
    ". sidebar con .";
    grid-gap: 2px;
}

.grid {
  background-color: blue;
}

.banner {
  grid-area: banner;
  
}

.sidebar {
  grid-area: sidebar;
}


.content {
  grid-area: con;
}


/* @media screen and (min-width: 736px) 
{
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "title title"
        "header header"
        "sidebar sidebar"
        "content content"
        "footer footer";
        grid-gap: 1px;
    } 
}